/* VARIABLE */
:root{
    --davys-gray: #565264;
    --timberwolf: #D6CFCB;
    --font-paragraphe: 'Marvel', sans-serif;
    --font-titles: 'Fira Sans Extra Condensed', sans-serif;
}

/* FLUX */
.flux {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* LINE */
.line-style{
    border: 1px solid var(--timberwolf);
    margin-top: 30px;
}

/* BODY */
body{
    /* height: 300vh; */
    background: rgb(86,82,100);
    background: linear-gradient(149deg, rgba(86,82,100,1) 48%, rgba(131,125,152,1) 100%);
}

/* HEADER */
.header__background{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/voiture_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header__description{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__description img{
    width: 20em;
}

.header__title{
    font-family: var(--font-titles);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em;
    font-size: 3em;
    color: var(--davys-gray);
}

.header__para{
    color: var(--timberwolf);
    font-family: var(--font-paragraphe);
    font-size: 1.8em;
}


/* SECTION SERVICE*/
.section__service{
    height: 200vh;
}

.section__service__title{
    font-family: var(--font-titles);
    font-size: 2em;
    text-transform: uppercase;
    margin: 30px;
    
}