/* VARIABLE */
:root{
    --davys-gray: #565264;
    --timberwolf: #D6CFCB;
    --border-color: #706677;
    --shadow-box:10px 10px 30px 2px #3b3a41;
    --shadow-box-smooth: rgba(112, 102, 119, 0.35) 0px 5px 15px;
    --font-paragraphe: 'Marvel', sans-serif;
    --font-titles: 'Fira Sans Extra Condensed', sans-serif;

}

/* LINE */
.line-style{
    border: 1px solid var(--timberwolf);
    margin: 30px;
}

/* TITLE STYLE */
.title-h2{
    font-family: var(--font-titles);
    font-size: 2em;
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
    color: var(--timberwolf);
    letter-spacing: 1px;
}

/* BORDER SHADOW */
.border-shadow{
    box-shadow: var(--shadow-box);
    border-radius: 15px;
}

/* BODY */
body{
    background: rgb(86,82,100);
    background: linear-gradient(149deg, rgba(86,82,100,1) 48%, rgba(131,125,152,1) 100%);
}

/* HEADER */
.header__background{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/voiture_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header__description{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__description img{
    width: 10em;
    align-items: center;
}

.header__title{
    font-family: var(--font-titles);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em;
    font-size: 1.8em;
    color: var(--davys-gray);
}

.header__para{
    color: var(--timberwolf);
    font-family: var(--font-paragraphe);
    font-size: 1.5em;
    padding: 20px;
}


/* SECTION SERVICE */
.card-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.card-service{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section__service__img{
    margin: 25px;
}

.section__service__img img{
    object-fit: cover;
    width: 100%;
    transition: .4s ease;
}

.section__service__img img:hover {
    transform: scale(1.2);
}

.card-service p{
    color: var(--timberwolf);
    font-family: var(--font-paragraphe);
    font-size: 1.5em;
    align-self: center;
}

/* SECTION CARROUSEL LAST OCCASION */
.carrousel-last-occasion{
    margin-bottom: 100px;
}

.carrousel-title{
    color: var(--timberwolf);
    font-size: 1.5em;
}

/*  SECTION OPINION */
.section__opinion{
    margin-bottom: 100px;
}

.section__last-opinion{
    width: 100%;
    height: 300px;
    background-color: var(--timberwolf);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
}

.section__last-opinion h3{
    font-family: var(--font-titles);
    color: var(--davys-gray);
    font-size: 1.5em;
}

.section__last-opinion p{
    font-family: var(--font-paragraphe);
    color: var(--davys-gray);
    font-size: 1em;
}

.section__opinion__note{
    align-self: flex-end;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-box-smooth);
}

/* FOOTER */
.footer-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
}

.footer-grid-div ul li {
    margin: 10px;
    color: var(--timberwolf);
    font-family: var(--font-titles);
    font-size: 1.2em;
}

.footer-grid-div h3{
    font-family: var(--font-paragraphe);
    color: var(--timberwolf);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-grid-div a:hover{
    color: var(--davys-gray);
}

.border-div{
    border-bottom: 2px solid var(--timberwolf);
}

.copyright{
    margin: 20px;
    text-align: center;
    color: var(--timberwolf);
    font-family: var(--font-paragraphe);
}

/********MEDIA QUERY********/
@media screen and (min-width: 720px) {
    /**HEADER**/
    .header__description img {
        width: 25em;
    }
    .header__title{
        font-size: 2.4em;
    }
    .header__para{
        font-size: 1.8em;
    }

    /**SERVICE**/
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    /**OPINION**/
    .section__last-opinion h3{
        font-size: 2em;
    }
    .section__last-opinion p{
        font-size: 1.3em;
    }

    /**FOOTER**/
    .footer-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-grid-div ul li{
        font-size: 1em;
    }
    .border-div{
        border-bottom: none;
        border-right: 2px solid var(--timberwolf);
    }
}

@media screen and (min-width: 1200px){
    /**FLUX**/
    .flux {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    /**HEADER**/
    .header__description img{
        width: 20em;
    }
    .header__title{
        font-size: 3em;
    }
    .header__para{
        font-size: 1.8em;
    }

    /**SERVICES**/
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    /**OPINION**/
    .section__last-opinion h3{
        font-size: 2em;
    }
    .section__last-opinion p{
        font-size: 1.8em;
    }

    /**FOOTER**/
    .footer-grid-div ul li{
        font-size: 1.2em;
    }



}